#wrapper #container {
    margin: 0 auto;
    margin-bottom: 10px;
    min-height: 500px;
}

#wrapper #container .space-table {
    margin-top: 10px;
}
.footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.float-left {
    float: left;
}

#wrapper .btn-size-small {
    width: 100px;
}

.modal-footer {
    float: left;
    display: inline;
}
@media (min-width: 375px) { 
    #wrapper #container {
        width: 91%;
    }
    .btn-size-small {
        width: 45%;
    }
    .form-group {
        /*margin-bottom: 4rem;*/

        width: 100%;
        height: 34px;
    }
    .form-control {
        margin-bottom: 0rem;
        width: 68%;
        margin-right: 0;
        float: right;
        margin: 2px;
    }
    label {
        display: inline-block;
        margin-bottom: 0rem;
        width: 30%;
        float: left;
    }
    .form-signin {
        max-width: 90%;
        padding: 15px;
        margin: 0 auto;
    }

}
@media (min-width: 576px) { 
    #wrapper #container {
        width: 91%;
    }
    .btn-size-small {
        width: 45%;
    }
    .form-group {
        /*margin-bottom: 4rem;*/

        width: 100%;
        height: 34px;
    }
    .form-control {
        margin-bottom: 0rem;
        width: 68%;
        margin-right: 0;
        float: right;
        margin: 2px;
    }
    label {
        display: inline-block;
        margin-bottom: 0rem;
        width: 30%;
        float: left;
    }

    .form-signin {
        max-width: 90%;
        padding: 15px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) { 
    #wrapper #container {
        width: 91%;
    }
    .btn-size-small {
        width: 45%;
    }
    .form-group {
        /*margin-bottom: 4rem;*/

        width: 100%;
        height: 34px;
    }
    .form-control {
        margin-bottom: 0rem;
        width: 75%;
        margin-right: 0;
        float: right;
        margin: 2px;
    }
    label {
        display: inline-block;
        margin-bottom: 0rem;
        width: 22%;
        float: left;
    }

    .my-container {
        width: 90%
    }

    .form-signin {
        max-width: 90%;
        padding: 15px;
        margin: 0 auto;
    }
}


@media (min-width: 992px) {
    #wrapper #container {
        width: 900px;
    }
    .my-container {
        width: 50%
    }
    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
}


@media (min-width: 1200px) {

    #wrapper #container {
        width: 1000px;
    }
    .my-container {
        width: 50%
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
}
.my-container {
    margin: 0 auto;
    margin-bottom: 10px;
    min-height: 500px;
}

/* dados cobreturas */
#wrapper .card {
    border: 0px;    
}


/*#wrapper .card-body {*/
/*height: 200px;*/
/*display: inline-block*/

/*}c*/

#wrapper #container .btn-block {
    background-color: #5cb85c;
}
/* dados cobreturas */

.edit {
    color: #0000F0;
}

.pago {
    color: #5cb85c;
}
.nao-pago {
    color: #cccccc;
}

.pointer {
    cursor: pointer;
}
.delete {
    color: #C82829;
}


.login-body {
    padding-top: 200px;
    padding-bottom: 40px;
    background-color: #eee;
}


.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 40px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control-label {
    position: relative;
    height: auto;
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}